{% extends 'admin/base-fullscreen.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Sign in {% endblock %}
{% block extrastyle %}
<link type="text/css" href="{% static 'custom/admin/admin.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


  <main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <img class="img-fluid w-25" src="{% static 'admin_volt/assets/img/favicon/logo.png' %}">
                            <br>
                            <p>Library Information Management System - Dulag Campus</p>
                        </div>
                        <form method="POST" action="{% url 'system:login' %}" class="mt-4">
                            {% csrf_token %}

                            {{ form|crispy }}
                            <div class="d-grid">
                                <button type="submit" name="login" class="btn btn-primary">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
