{% extends 'admin/base_site.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}EVSU - Student{% endblock %}


{% block extrastyle %}
<style>
  .numberinput, .form-select, .vDateField, .vIntegerField {
    /* width: auto !important; */
    min-width: auto !important;
  }

  .form-control:disabled {
    background-color: #e9ecef !important;
    opacity: 1;
} 
</style>

<link rel="stylesheet" type="text/css" href="{% static "custom/profile.css" %}">
{% endblock %}

{% block content %}

    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="profile-modal p-5 rounded">
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row w-100 align-items-center justify-content-center p-2 mb-2">
                {% if not profile.picture %}
                  <img id="profile_pic" src="{% static 'img/profile.png' %}" class="rounded-circle object-fit-cover" alt="profile picture">
                {% else %}
                  <img id="profile_pic" src="{{ profile.picture.url }}" class="rounded-circle object-fit-cover" alt="profile picture">
                {% endif %}  
                </div>

                <div class="row w-100 align-items-center justify-content-center p-2 mb-2">
                  <div class="w-25 input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input name="picture" id="upload" type="file" class="form-control border-0" accept="image/*">
                    <label id="upload-label" for="upload" class="font-weight-light">Choose file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> 
                            <i class="fa fa-cloud-upload mr-2"></i></label>
                    </div>
                </div>
                </div>

                  
                {% crispy form %}
                <!-- <button type="submit" class="btn btn-primary">Update</button> -->
            </form>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extrascript %}
<script>
$(function(){
  $('#upload').change(function(){
    var input = this;
    var url = $(this).val();
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) 
     {
        var reader = new FileReader();

        reader.onload = function (e) {
           $('#profile_pic').attr('src', e.target.result);
        }
       reader.readAsDataURL(input.files[0]);
    }
    else
    {
      let defaultImg = {% static 'img/profile.png' %};
      $('#profile_pic').attr('src', defaultImg);
    }
  });

});
</script>
{% endblock %}
