{% load i18n static admin_volt %}
{% load system_extras %}


<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5" href="/">
        <img class="navbar-brand-dark" src="{% static 'admin_volt/assets/img/favicon/logo.png' %}" alt="EVSU logo"/>
        <img class="navbar-brand-light" src="{% static 'admin_volt/assets/img/favicon/logo.png' %}" alt="EVSU logo"/>
        
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="d-block">
                    <h2 class="h5 mb-3">Hi, {{ request.user.first_name|default:request.user.username }}</h2>
                    <a href="#" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <span class="fa fa-sign-out"></span> Sign Out
                    </a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse"
                   data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                   aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <h4 class="text-md fw-bold whitespace-nowrap font-poppins"></p>
                <a href="{% url 'admin:index' %}" class="nav-link text-black">
                    LMS - Dulag Campus
                </a>
            </h4>
        <!-- <ul class="nav nav-pills text-black" role="tablist"> -->

            <!-- <li class="nav-item text-black text-center">
                
            </li> -->
            <li class="nav-item text-center">
            {% if not profile.picture %}
            <img class="w-75 text-center p-2 img-fluid" src="/static/admin_volt/assets/img/favicon/logo.png" alt="">            
            {% else %}
            <img class="w-75 text-center p-2 rounded-circle object-fit-cover" src="{{profile.picture.url}}" alt="profile picture"/>
            {% endif %}    
            <div class="text-center text-black font-poppins">
                    {% if request.user.is_superuser %}
                    <p class="p-0 m-0 text-sm font-poppins">Administrator</p>
                    {% else %}
                    <p class="p-0 m-0 text-sm font-poppins">Student</p>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item w-100 text-center mb-5">
                {% if request.user.is_superuser %}
                <a class="red-button p-1 nav-link" aria-current="page" href="{% url 'admin:logout' %}">
                {% else %}
                <a class="red-button p-1 nav-link" aria-current="page" href="{% url 'system:logout' %}">
                {% endif %}
                    <i class="bi bi-box-arrow-left"></i>
                    Logout
                </a>
            </li>
            <small class="text-black opacity">Menu</small>
           
            {% with available_apps|first as app %}
                {% for entity in app.models %}
                    {% if entity.admin_url %}
                    <!-- <button class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"> -->
                        <a class="text-start btn nav-link {% if 'bootstrap-tables' in segment or entity.admin_url in request.path|urlencode %} active {% endif %}" href="{{ entity.admin_url }}" role="button">
                            
                            <i class="{{ model_icons|dict_key:entity.name }}"></i>
                            <span class="sidebar-text">{{ entity.name }}</span>
                        </a>
                    <!-- </button> -->
                    {% else %}
                        <li>{{ entity.model.meta.icon }}</li>
                    {% endif %}
                {% endfor %}
             {% endwith %}

            {% if not request.user.is_superuser %}
                {% if user_id %}
                <a class="text-start btn nav-link {% if 'bootstrap-tables' in segment or 'books' in request.path|urlencode %} active {% endif %}" href="{% url 'system:books' %}" role="button">
                    <i class="bi bi-book"></i>
                    <span class="sidebar-text">Books</span>
                </a>
                <a class="text-start btn nav-link {% if 'bootstrap-tables' in segment or 'student_profile' in request.path|urlencode %} active {% endif %}" href="{% url 'system:student_profile' pk=user_id %}" role="button">
                    <i class="bi bi-person-circle"></i>
                    <span class="sidebar-text">Profile</span>
                </a>
                {% endif %}

            <a class="text-start btn nav-link {% if 'bootstrap-tables' in segment or 'transaction_history' in request.path|urlencode %} active {% endif %}" href="{% url 'system:transaction_history_student' %}" role="button">
                <i class="bi bi-clock-history"></i>
                <span class="sidebar-text">Transaction History</span>
            </a>
            {% else %}

             <a class="text-start btn nav-link {% if 'bootstrap-tables' in segment or 'transaction_history' in request.path|urlencode %} active {% endif %}" href="{% url 'system:transaction_history' %}" role="button">
                <i class="bi bi-clock-history"></i>
                <span class="sidebar-text">Transaction History</span>
                </a>
            {% endif %}
            
        <!-- </ul> -->
    </div>
    </div>
</nav>