<pre style="font-family: Arial, Helvetica, sans-serif;">
    Dear {{borrowed.borrower.full_name}},

    I hope this email finds you well. We are writing to remind you about a book rental from our library that is now overdue. The book, {{borrowed.book.title}}, was due on {{borrowed.return_date}}.

    As per our library policies, there is a late fee of ₱{{borrowed.book.overtime_fine}} per day for each day the book is overdue. As of today, the total amount owed for the overdue fine is ₱{{penalty.unpaid_penalty}}.

    We kindly request that you return the book or arrange to have it returned as soon as possible to avoid incurring further penalties. If you have already returned the book, please accept my apologies and ignore this email.

    If you have any questions or concerns, please feel free to reach us to me at [Contact Information]. We look forward to hearing from you soon.

    Best regards,

    EVSU Library System
</pre>